.content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  width: calc(100vw - 232px);
  height: calc(100vh - 96px);
  position: relative;
  top: 96px;
}

.add-task-header {
  display: flex;
  align-items: center;
  padding: 80px 64px 55px 64px;
  width: calc(100vw - 232px);
  max-width: 1208px;
}

.add-task-content-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 0 64px;
  /* gap: 48px; */
  /* width: calc(100vw - 232px); */
  max-width: 1208px;
  top: calc(200px + 96px);
  left: 232px;
  font-size: 20px;
  font-weight: 400;
}

.add-task-form {
  display: flex;
  gap: 48px;
  width: 968px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-task-input-title,
.add-task-input-date,
.add-task-input-description,
.add-task-input-subtasks,
.add-task-select {
  font-size: 20px;
  font-weight: 400;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  outline: none;
}

.add-task-content-section input::placeholder,
.add-task-content-section textarea::placeholder {
  color: #d1d1d1;
}

.add-task-labels {
  display: flex;
  align-items: center;
  height: 24px;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 440px;
}

.seperator {
  width: 2px;
  height: 424px;
  background-color: #d1d1d1;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 440px;
}

.required-marker {
  color: red;
}

.prio-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  gap: 8px;
  width: 136px;
  border: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 4px 0 #0000001a;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

#button-medium {
  background-color: #ffa800;
  color: white;
}

#button-medium-img {
  width: 20px;
  height: 7.5px;
}

#button-low-img,
#button-urgent-img {
  width: 20px;
  height: 14.5px;
}

.add-task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
}

.add-task-input input {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
}

.add-task-input img {
  cursor: pointer;
}

#add-subtask-img {
  display: flex;
  width: 14px;
  height: 14px;
}

#submit-subtask-img {
  display: none;
  width: 14px;
  height: 14px;
}

#cancel-subtask-img {
  display: none;
  width: 14px;
  height: 14px;
}

.subtasks-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-task-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 48px;
  width: 968px;
}

.add-task-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.add-task-cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  border: 1px solid var(--bg-secondary);
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.add-task-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 4px;
  border: 1px solid var(--bg-secondary);
  border-radius: 10px;
  background-color: var(--bg-secondary);
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

/* INFO TOAST */

#info-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 326px;
  height: 74px;
  bottom: 0%;
  font-size: 24px;
  right: 40%;
  background-color: #2a3647;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translateY(100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  img {
    margin-left: 24px;
  }
}

#info-toast.show {
  opacity: 1;
  transform: translateY(-550%);
}

.show {
  display: flex !important;
  visibility: visible !important;
}

.add-task-contact-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 16px;
    border-radius: 0.5rem;
  }
  div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
  }
   input[type="checkbox"]::before {
  content: "";
  background-image: url(../assets/icons/check-box-unchecked.png);
  width: 24px;
  height: 24px;
  }
 
  input[type="checkbox"]:checked::before {
    cursor: pointer;
    background-image: url(../assets/icons/check-box-checked.png);
  }
 
}
#input-assigned-to{
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  overflow-y: scroll;
  height: 250px;
  width: 435px;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
}

#add-task-contact-container{
  position: relative;
}

.add-task-contact-list:hover{
  background-color: #F6F7F8;
  cursor: pointer;
}

.initial-div{
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  color: white;
  text-align: center;
  width: 42px;
  height: 42px;
  border-radius: 20px;
}