.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  /* padding-right: 88px; */
  width: calc(100vw - 232px);
  height: 232px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headline-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 312px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
}

.input-container input {
  width: 240px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
}

.input-img-container {
  display: flex;
  justify-content: end;
  width: 48px;
}

.input-container img {
  width: 18px;
  height: 18px;
  margin-left: 16px;
}

.input-seperator {
  width: 1px;
  height: 31px;
  background-color: #a8a8a8;
}

.input-seperator {
  width: 1px;
  height: 31px;
  background-color: #a8a8a8;
}

.add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 160px;
  height: 49px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
}

.add-task-button img {
  width: 19px;
  height: 19px;
}

.kanban-header {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  width: calc(100vw - 232px);
  position: fixed;
  top: calc(200px + 96px);
  left: 232px;
}

.kanban-headline {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  width: 244px;
}

.kanban-content {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  width: calc(100vw - 232px);
  position: absolute;
  top: calc(336px - 96px);
}

.kanban-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  width: 252px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #00000014;
  background-color: white;
}

.card-label {
  background-color: aquamarine;
}
