.content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  width: calc(100vw - 232px);
  height: calc(100vh - 96px);
  position: relative;
  top: 96px;
}

.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 64px 55px 64px;
  width: calc(100vw - 232px);
  max-width: 1208px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headline-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 312px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
}

.input-container input {
  width: 200px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
}

.input-img-container {
  display: flex;
  justify-content: end;
  width: 48px;
}

.input-search-img {
  width: 18px;
  height: 18px;
  margin-left: 16px;
}

.input-cancel-img {
  width: 12px;
  height: 12px;
  margin-left: 16px;
  margin-right: 8px;
  cursor: pointer;
  visibility: hidden;
}

.input-seperator {
  width: 1px;
  height: 31px;
  background-color: #a8a8a8;
}

.input-seperator {
  width: 1px;
  height: 31px;
  background-color: #a8a8a8;
}

.add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 160px;
  height: 49px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.add-task-button img {
  width: 19px;
  height: 19px;
}

.board-content-section {
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  gap: 26px;
  width: calc(100vw - 232px);
  max-width: 1208px;
  top: calc(200px + 96px);
  left: 232px;
  overflow-y: scroll;
}

.kanban-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 244px;
}

.kanban-headline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  width: 244px;
}

.kanban-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
  gap: 26px;
  min-width: 244px;
  height: calc(100vh - 96px - 209px - 25px - 16px);
  overflow-y: auto;
  border-radius: 10px;
}

.highlight-kanban-list {
  border: 1px dashed black;
}

.kanban-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  width: 252px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #00000014;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.card-label-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-label {
  display: flex;
  padding: 4px 16px;
  width: auto;
  border-radius: 8px;
  color: white;
  background-color: red;
}

.card-title {
  font-weight: 700;
}

.card-description {
  color: #a8a8a8;
}

.subtask-progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  height: 16px;
}

.subtask-progress-bar {
  border-radius: 8px;
  width: 128px;
  height: 8px;
  background-color: #f4f4f4;
}

.subtask-progress-bar-done {
  border-radius: 8px;
  width: 64px;
  height: 8px;
  background-color: #4589ff;
}

.subtask-counter {
  font-size: 12px;
  font-weight: 400;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-collaborators {
  display: flex;
}

.card-profile-badge-1,
.card-profile-badge-2,
.card-profile-badge-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 100%;
  font-size: 12px;
  color: white;
}
.card-profile-badge-1 {
  background-color: orange;
}
.card-profile-badge-2 {
  margin-left: -6px;
  background-color: green;
}
.card-profile-badge-3 {
  margin-left: -6px;
  background-color: blue;
}

.no-tasks-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 48px;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  background-color: #e7e7e7;
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.task-modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #0000005c;
  z-index: 99;
}

.task-modal-card {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  gap: 24px;
  width: 526px;
  max-height: 875px;
  border-radius: 30px;
  background-color: var(--bg-primary);
  font-size: 20px;
  font-weight: 400;
}

.task-modal-card span {
  color: black;
}

.task-modal-card-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-modal-card-header-container img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.task-modal-card-category {
  padding: 4px 24px;
  border-radius: 8px;
  background-color: #1fd7c1;
  color: white;
  font-size: 23px;
  font-weight: 400;
}

.task-modal-card-title {
  font-size: 61px;
  font-weight: 700;
}

.task-modal-card-date,
.task-modal-card-prio,
.task-modal-card-assigned-to,
.task-modal-card-subtasks {
  color: #42526e;
}

.task-modal-card-date,
.task-modal-card-prio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-modal-card-prio img {
  width: 17px;
  height: 12px;
}

.task-modal-card-assigned-to,
.task-modal-card-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-modal-card-key {
  width: 120px;
}

.task-modal-card-assigned-to-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-modal-contact-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 16px;
  gap: 16px;
  color: black;
}

.task-modal-contact-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: #416bb3;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.task-modal-subtask-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 6px 16px;
  gap: 16px;
  color: black;
}

.task-modal-subtask-container img {
  cursor: pointer;
}

.task-modal-card-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  bottom: 0;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.task-modal-card-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.task-modal-card-buttons img {
  width: 14px;
  height: 14px;
}

.task-modal-card-buttons-seperator {
  width: 2px;
  height: 24px;
  background-color: #d1d1d1;
}

.add-task-modal-card {
  padding: 64px 74px;
  width: 1116px;
  height: 870px;
  border-radius: 30px;
  background-color: white;
}

.add-task-modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  /* padding: 80px 64px 55px 64px; */
  /* width: calc(100vw - 232px); */
  /* max-width: 1208px; */
}

.add-task-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 968px;
  position: absolute;
  top: 780px;
}

/* INFO TOAST */

#info-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  width: 326px;
  height: 74px;
  bottom: 0;
  font-size: 24px;
  right: 70%;
  background-color: #2a3647;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translateY(700px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  img {
    margin-left: 24px;
  }
}

#info-toast.show {
  opacity: 1;
  transform: translateY(0px);
}
