
.contact-list-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    height: calc(100vh - 96px);
    width: 456px;
}

#contacts{
    display: flex;
    width: 352px;
}

.initials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 42px;
    height: 42px;
    background-color: var(--accent-primary);
    border-radius: 45px;
    gap: 10px;
}

.single-contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 352px;
}

.contact-data{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        color: #007CEE;
    }
}

