body {
  background-color: var(--bg-primary);
}

.flex-d-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-d-r {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aifs {
  align-items: flex-start;
  gap: 12px;
}

.contact-list-container {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  flex-direction: column;
  margin-top: 96px;
  height: calc(100vh - 96px);
  width: 456px;
  overflow-x: auto;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 56px;
    width: 352px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #2a3647;
    padding: 12px 0px 12px 0px;
    img {
      height: 32px;
      width: 32px;
      object-fit: contain;
    }
  }

  button:hover {
    cursor: pointer;
    background-color: var(--accent-primary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.336);
  }
}

.add-new-contacts {
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 101px;
}

::-webkit-scrollbar {
  width: 24px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border: 8px solid white;
  border-radius: 50px;
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 352px;
}

.initials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 42px;
  height: 42px;
  margin-right: 35px;
  background-color: var(--accent-primary);
  border-radius: 50%;
  gap: 10px;

  span {
    font-size: 12px;
  }
}

.single-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 24px 15px 24px;
  width: 352px;
  border-radius: 10px;
}

.single-contact:hover {
  cursor: pointer;
  background-color: #f6f7f8;
}

.contact-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    font-size: 16px;
    text-decoration: none;
    color: #007cee;
  }
  h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}

.nameHeader {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 17px 36px 17px 36px;
  gap: 8px;
}

.seperator {
  height: 14px;
  width: 100%;
  gap: 10px;
  padding: 8px 0px 8px 0px;
}

.line {
  border: 1px solid #f6f7f8;
}

.contact-information {
  display: flex;
  margin-top: 96px;
  width: calc(100% - 644px);
  background-color: var(--bg-primary);
}

.contacts-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 40px;
  height: 73px;
  gap: 30px;
  b {
    font-size: 61px;
  }
  p {
    font-size: 27px;
  }
}

.seperator-contacts-title {
  height: 59px;
  border-radius: 50px;
  width: 3px;
  background-color: #29abe2;
}

article {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 311px;
  right: 750px;
  width: 461px;
  height: 364px;
  h2 {
    font-size: 47px;
    font-weight: 500;
  }
  .initials-container {
    height: 120px;
    width: 120px;
    border: 3px solid white;
    span {
      font-size: 47px;
    }
  }
}

.article-name {
  display: flex;
  flex-direction: column;
}

.article-edit-and-delete {
  display: flex;
  justify-content: space-start;
  align-items: center;
}

.del-contact .edit-contact {
  height: 24px;
  width: 62px;
  font-size: 16px;
  img {
    height: 24px;
    width: 24px;
  }
}
.del-contact {
  gap: 8px;
}
.edit-contact {
  gap: 13px;
  margin-right: 32px;
}

.edit-contact:hover {
  img {
    content: url(/assets/icons/edit-hover.svg);
  }
  cursor: pointer;
  color: #29abe2;
}

.del-contact:hover {
  img {
    content: url(/assets/icons/delete-hover.svg);
  }
  cursor: pointer;
  color: #29abe2;
}

.contact-name {
  padding: 5px 0px;
}
.contact-information-header {
  font-size: 20px;
  padding: 59px 0px;
  justify-content: flex-start;
}

.contactFadeAndSlideIn {
  display: flex !important;
  animation-name: fadeAndSlideIn;
  animation-duration: 150ms;
}







@keyframes fadeAndSlideIn {
    0% {
      right: -500px;
      opacity: 0;
    }
    100% {
      right: 750px;
      opacity: 1;
    }
}