/* .content {
  padding: calc(206px - 96px) calc(328px - 232px);
  background-color: var(--bg-primary);
  width: 100%;
  height: calc(100vh - 96px);
  overflow-y: auto;
  } */

body {
  background-color: var(--bg-primary);
}

.content {
  display: flex;
  flex-direction: column;
  padding: calc(206px - 96px) calc(328px - 232px);
  background-color: var(--bg-primary);
  width: calc(100vw - 232px);
  height: calc(100vh - 96px);
  position: relative;
  top: 96px;
  overflow-y: auto;
  margin-left: 222px;
  padding: 80px 64px 55px 64px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1000px;
}

.legal-notice-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headline {
  margin-bottom: 32px;
}

.show {
  visibility: visible;
}

@media (max-width: 890px) {
  body {
    justify-content: center;
    margin-bottom: 350px;
  }
  .content {
    padding: unset;
    display: flex;
    justify-content: center;
    top: 120px;
    height: unset;
    width: 650px;
    margin-left: unset;
  }
}

@media (max-width: 675px) {
  body {
    margin-bottom: 1150px;
  }
  h1 {
    font-size: 47px;
  }
  p {
    font-size: 16px;
  }
  .content {
    width: 350px;
  }
}

@media (max-width: 375px) {
  body {
    margin-bottom: 1350px;
  }
  .content {
    width: 280px;
  }
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 14px;
  }
}
