@media (max-width: 680px) {
    .login-mask {
        width: 480px;
    }
    .sign-up-mask {
        width: 480px;
    }
    .sign-up-title img {
        right: 75px;
    }
}

@media (max-width: 505px) {
    input {
        font-size: 16px;
    }
    .just-login {
        font-size: 16px;
    }
    .guest-login {
        font-size: 16px;
    }
    .footer-login {
        margin-top: 20%;
    }
    .whole-body {
        margin-top: 10px;
    }
    .email-input {
        background: url(../assets/icons/mail.png) no-repeat scroll 308px;
    }
    .login-signup-title {
        font-size: 47px;
    }
    .login-mask {
        width: 396px;
    }
    .sign-up-mask {
        width: 396px;
        height: 590px;
    }
    .sign-up-title img {
        right: 60px;
    }
    form {
        width: 350px;
    }
    .name-input {
        background: url(../assets/icons/person.png) no-repeat scroll 309px;
    }
    #logo-white {
        animation: change-color-of-logo 750ms forwards;
    }
    .logo {
        width: 100px;
    }
    .loading-logo-animation {
        width: 64px;
    }
    .loading-overlay {
        background-color: #2A3647;
    }
    .loading-overlay-animation {
        z-index: -1;
    }
    #logo-white {
        display: unset;
    }
    .sign-up-top-right {
        position: relative;
        top: 650px;
        padding: 0px;
        right: 50%;
        transform: translate(50%);
    }
}

@media (max-width: 428px) {
    .name-input {
        background: url(../assets/icons/person.png) no-repeat scroll 322px;
    }
    .login-signup-title {
        padding-top: 15px;
    }
    .email-input {
        background: url(../assets/icons/mail.png) no-repeat scroll 321px;
    }
    .login-mask {
        width: 396px;
        height: 515px;
        padding: 32px 0px 32px 0px;
        justify-content: flex-start;
    }
    form {
        width: 364px;
        gap: 16px;
    }
    input {
        height: 48px;
    }
    .check-box {
        padding-left: 20px;
    }
    .what-kind-of-login {
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 123px;
        gap: 21px;
    }
    .just-login {
        width: 177px;
    }
}

@media (max-width: 410px) {
    .sign-up-title img {
        right: 40px;
    }
    .name-input {
        background: url(../assets/icons/person.png) no-repeat scroll 214px;
    }
    .login-signup-title {
        padding-top: 0px;
        font-size: 44px;
    }
    .email-input {
        background: url(../assets/icons/mail.png) no-repeat scroll 212px;
    }
    .login-mask {
        width: 340px;
        height: 475px;
    }
    .sign-up-mask {
        width: 340px;
        height: 550px;
    }
    form {
        width: 255px;
        gap: 16px;
    }
    input {
        height: 44px;
    }
    .check-box {
        padding-left: 20px;
    }
    .what-kind-of-login {
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 123px;
        gap: 21px;
    }
    .footer-login {
        margin-top: 30%;
    }
    .sign-up-top-right {
        top: 620px;
    }
}

@media (max-width: 355px) {
    .login-mask {
        width: 280px;
        height: 475px;
    }
    .sign-up-mask {
        width: 280px;
    }
    .sign-up-title img {
        right: 25px;
    }
    .sign-up-top-right {
        font-size: 16px;
    }
    .you-signed-up {
        width: 295px;
    }
}