body {
    margin: 0%;
    padding: 0%;
    background: #F6F7F8;
    flex-direction: column;
    max-width: none;
}

.whole-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.logo {
    z-index: 5;
    width: 250px;
    transition: ease-in-out 750ms;
    position: relative;
    left: 41vw;
    top: 35vh;
}

.login-mask {
    height: 493px;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up-mask {
    height: 630px;
    padding: 48px 115px 48px 115px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign-up-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-title img {
    width: 20px;
    height: 20px;
    position: relative;
    right: 150px;
}

.sign-up-title img:hover {
    cursor: pointer;
    background-color: #d1d1d199;
    border-radius: 50%;
    transform: scale(1.1);
}

.login-signup-title {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: center;
}

.login-seperator {
    width: 0px;
    height: 150px;
    border: 3px;
    rotate: 90deg;
    border: 3px solid #29ABE2
}

form {
    display: flex;
    flex-direction: column;
    width: 422px;
    height: 196px;
    gap: 20px;
}

input {
    width: 100%;
    height: 48px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

.email-input {
    background: url(/assets/icons/mail.png) no-repeat scroll 380px;
}

.password-input {
    background: url(/assets/icons/lock.png) no-repeat scroll 380px;
}

.name-input {
    background: url(/assets/icons/person.png) no-repeat scroll 380px;
}

::placeholder {
    color: #D1D1D1;
}

.sign-up-top-right {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.sign-up-top-right button {
    text-decoration: none;
    background: #2A3647;
    width: 94px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    transition: ease-in-out 120ms;
}

.sign-up-top-right button:hover {
    background: #29ABE2;
    border: 0px;
    cursor: pointer;
    box-shadow: #8c8c8c 0px 5px 7px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 39px;
}

.remember-true {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid #2A3647
}

.remember-true:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}

.what-kind-of-login {
    display: flex;
    justify-content: center;
    height: 48px;
    gap: 35px;
}

.just-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    gap: 10px;
    background: #2A3647;   
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    transition: ease-in-out 120ms;
}

.just-login:hover {
    background: #29ABE2;
    border: 0px;
    cursor: pointer;
    box-shadow: #8c8c8c 0px 5px 7px;
}

.guest-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 48px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}

.guest-login:hover {
    color: #29ABE2;
    cursor: pointer;
    box-shadow: #8c8c8c 0px 5px 7px;
}

footer {
    font-size: 16px;
    color: #A8A8A8;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 300px;
}

footer a {
    text-align: center;
    padding: 8px;
    text-decoration: none;
    color: #8c8c8c;
}

footer a:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #F6F7F8;
    opacity: 100%;
    transition: ease-in-out 750ms;
}

.loading-overlay-animation {
    opacity: 0%;
    z-index: -1;
}

.loading-logo-animation {
    width: 100px;
    z-index: 2;
    top: 0;
    left: 0;
}

.d-none {
    display: none;
}