@media (max-width: 1280px) {
    #time-of-the-day {
        font-size: 30px;
    }
    #name {
        font-size: 25px;
    }
}

@media (max-width: 1112px) {
    .greeting {
        display: none;
    }
}

@media (max-width: 890px) {
    @keyframes addOpacity {
        0% {
            opacity: 100%;
        }
        99.999% {
            opacity: 0%;
        }
        100% {
            display: none;
        }
    }
    .summary-content {
        margin-left: unset;
    }
    .greeting {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        padding: unset;
    }
    #time-of-the-day {
        font-size: 30px;
    }
    #name {
        font-size: 44px;
    }
    .nav-links-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 76px;
        height: 76px;
        border-radius: 8px;
        background-color: var(--bg-hover);
    }
    .summary-title {
        flex-direction: column;
        align-items: unset;
    }
    .seperator {
        display: none;
    }
    .hidden-seperator {
        visibility: visible;
    }
    .summary-overview-top a {
        width: 210px;
    }
    .urgent-tasks-board {
        width: 455px;
    }
    .summary-overview-bottom a {
        width: 130px;
    }
    .task-counter {
        font-size: 47px;
    }
    .task-description {
        font-size: 18px;
    }
    .summary-content {
        display: flex;
        flex-direction: column;
        position: unset;
        height: unset;
        width: unset;
        gap: 25px;
    }
    .summary-title {
        padding: 0px;
        margin-top: 110px;
    }
    .summary-overview {
        width: 360px;
        padding: 0px;
        display: unset;
    }
    .summary-overview-bottom {
        gap: 0px;
        width: unset;
        display: flex;
        justify-content: space-between;
    }
    .summary-overview-top {
        width: unset;
        align-items: center;
    }
    body {
        justify-content: center;
        margin-bottom: 25px;
    }
    .urgent-tasks-board {
        gap: unset;
        height: 130px;
        width: 360px;
        padding: 28px;
    }
    .urgent-tasks-board img {
        width: 40px;
        height: 40px;
        margin-right: 18px;
    }
    .deadline {
        font-size: 14px;
    }
    #deadline {
        font-size: 16px;
    }
    .task-description {
        font-size: 14px;
    }
    .second-seperator {
        height: 68px;
    }
    .icons-top {
        width: 40px;
    }
    .urgent {
        gap: 20px;
    }
    .summary-overview-bottom a {
        height: 116px;
        width: 110px;
    }
}

@media (max-width: 634px) {
    .to-do {
        height: 130px;
        gap: 10px;
    }
    .summary-overview-tasks {
        gap: 20px;
    }

    .task:hover {
        transform: scale(1.03);
    }
    .summary-title b {
        font-size: 47px;
    }
    .summary-title p {
        font-size: 20px;
    }
    body {
        margin-bottom: 75px;
    }
    .hidden-seperator {
        width: 90px;
    }
}

@media (max-width: 395px) {
    #name {
        font-size: 34px;
    }
    .summary-overview {
        width: 290px;
    }
    .urgent-tasks-board {
        width: 290px;
    }
    .summary-overview-bottom a {
        width: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .task-description {
        font-size: 14px;
    }
    .deadline {
        font-size: 14px;
    }
    #deadline {
        font-size: 14px;
    }
    .task-counter {
        font-size: 38px;
    }
    .summary-title b {
        font-size: 38px;
    }
    .summary-title p {
        font-size: 15px;
    }
    body {
        margin-bottom: 160px;
    }
}

@media (max-width: 355px) {
    body {
        margin-bottom: 250px;
    }
}