body {
    background: #F6F7F8;
}

* {
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

.summary-content {
    width: calc(100vw - 232px);
    height: calc(100vh - 96px);
    position: relative;
    top: 96px;
    margin-left: 222px;
}

.summary-overview-tasks {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.summary-title {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 64px;
    padding-right: 88px;
    height: 232px;
}

.summary-title p {
    font-size: 27px;
    font-weight: 400;
}

.summary-title b {
    font-size: 61px;
    font-weight: 700;
}

.seperator {
    height: 59px;
    border-radius: 15px;
    border: 3px solid #29ABE2;
}

.summary-overview {
    height: 562px;
    display: flex;
    padding-left: 64px;
    padding-right: 88px;
    align-items: center;
}

.urgent {
    display: flex;
    gap: 61px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.urgent-only-text {
    display: flex;
    flex-direction: column;
}

.urgent-tasks-board {
    display: flex;
    align-items: center;
    gap: 18px;
    top: 196px;
    padding: 28px 48px 28px 48px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 560px;
    height: 168px;
    justify-content: space-around;
}

.urgent-tasks-board img {
    width: 60px;
    height: 60px;
}

.task-counter {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
}

.second-seperator {
    width: 0px;
    height: 102.02px;
    border: 2px solid #D1D1D1;
}

.deadline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px
}

#deadline {
    font-size: 21px;
    font-weight: 700;
}

.summary-overview-top {
    width: 560px;
    gap: 32px;
    display: flex;
}

.to-do {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 264px;
    height: 168px;
    gap: 18px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.summary-overview-bottom {
    width: 560px;
    height: 170px;
    top: 392px;
    padding: 1px 0px 1px 0px;
    gap: 32px;
    display: flex;
}

.tasks-bottom {
    width: 168px;
    height: 168px;
    top: 1px;
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    left: 196px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.greeting {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    animation: addOpacity 1s forwards;
    animation-delay: 750ms;
}

.greeting-overlay-responsive {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    animation: addOpacity 1s forwards;
    animation-delay: 750ms;
}

#time-of-the-day {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

#name {
    color: #29ABE2;
    font-family: Inter;
    font-size: 64px;
    font-weight: 700; 
}

.task {
    transition: ease-in-out 80ms;
    color: black;
}

.task-description {
    font-size: 20px;
}

.task:hover {
    background-color: #2A3647;
    color: #F6F7F8;
    transform: scale(1.1);
    .icons-top {
        filter: invert(1) contrast(1.5) saturate(0) brightness(1.5);
    }
}

.show {
    visibility: visible;
}

.hidden-seperator {
    visibility: hidden;
    border: 3px solid #29ABE2;
    width: 120px;
}

@media (max-width: 1630px) {
    .greeting {
        padding-left: 75px;
    }
}

@media (max-width: 1510px) {
    .greeting {
        padding-left: 25px;
    }
    #time-of-the-day {
        font-size: 45px;
    }
    #name {
        font-size: 45px;
    }
    .urgent-tasks-board {
        height: 120px;
    }
}

@media (max-width: 1280px) {
    #time-of-the-day {
        font-size: 30px;
    }
    #name {
        font-size: 25px;
    }
}

@media (max-width: 1112px) {
    .greeting {
        display: none;
    }
}

@media (max-width: 890px) {
    @keyframes addOpacity {
        0% {
            opacity: 100%;
        }
        99.999% {
            opacity: 0%;
        }
        100% {
            display: none;
        }
    }
    .summary-content {
        margin-left: unset;
    }
    .greeting {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        padding: unset;
    }
    #time-of-the-day {
        font-size: 30px;
    }
    #name {
        font-size: 44px;
    }
    .nav-links-summary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 76px;
        height: 76px;
        border-radius: 8px;
        background-color: var(--bg-hover);
    }
    .summary-title {
        flex-direction: column;
        align-items: unset;
    }
    .seperator {
        display: none;
    }
    .hidden-seperator {
        visibility: visible;
    }
    .summary-overview-top a {
        width: 210px;
    }
    .urgent-tasks-board {
        width: 455px;
    }
    .summary-overview-bottom a {
        width: 130px;
    }
    .task-counter {
        font-size: 47px;
    }
    .task-description {
        font-size: 18px;
    }
    .summary-content {
        display: flex;
        flex-direction: column;
        position: unset;
        height: unset;
        width: unset;
        gap: 25px;
    }
    .summary-title {
        padding: 0px;
        margin-top: 110px;
    }
    .summary-overview {
        width: 360px;
        padding: 0px;
        display: unset;
    }
    .summary-overview-bottom {
        gap: 0px;
        width: unset;
        display: flex;
        justify-content: space-between;
    }
    .summary-overview-top {
        width: unset;
        align-items: center;
    }
    body {
        justify-content: center;
        margin-bottom: 25px;
    }
    .urgent-tasks-board {
        gap: unset;
        height: 130px;
        width: 360px;
        padding: 28px;
    }
    .urgent-tasks-board img {
        width: 40px;
        height: 40px;
        margin-right: 18px;
    }
    .deadline {
        font-size: 14px;
    }
    #deadline {
        font-size: 16px;
    }
    .task-description {
        font-size: 14px;
    }
    .second-seperator {
        height: 68px;
    }
    .icons-top {
        width: 40px;
    }
    .urgent {
        gap: 20px;
    }
    .summary-overview-bottom a {
        height: 116px;
        width: 110px;
    }
}

@media (max-width: 634px) {
    .to-do {
        height: 130px;
        gap: 10px;
    }
    .summary-overview-tasks {
        gap: 20px;
    }

    .task:hover {
        transform: scale(1.03);
    }
    .summary-title b {
        font-size: 47px;
    }
    .summary-title p {
        font-size: 20px;
    }
    body {
        margin-bottom: 75px;
    }
    .hidden-seperator {
        width: 90px;
    }
}

@media (max-width: 395px) {
    #name {
        font-size: 34px;
    }
    .summary-overview {
        width: 290px;
    }
    .urgent-tasks-board {
        width: 290px;
    }
    .summary-overview-bottom a {
        width: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .task-description {
        font-size: 12px;
    }
    .deadline {
        font-size: 12px;
    }
    #deadline {
        font-size: 14px;
    }
    .task-counter {
        font-size: 38px;
    }
    .summary-title b {
        font-size: 38px;
    }
    .summary-title p {
        font-size: 15px;
    }
    body {
        margin-bottom: 160px;
    }
}

@media (max-width: 355px) {
    body {
        margin-bottom: 250px;
    }
}